node_modules/
dist/

# Local env files
.env
.env.*

# Netlify local state
.netlify/

# Logs
npm-debug.log*


# OS/editor noise
.DS_Store
Thumbs.db

# Just for testing in local, not to be committed
tes.html
tes2.html
